.btn-outline-primary:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-outline-primary {
    color: #343a40;
    background-color: transparent;
    background-image: none;
    border-color: #343a40;
}